# ====================================
# Logstash pipeline that collects AAA SNMP metrics from Kafka and sends them down to Elasticsearch
# There is 1 important thing happens here:
#   1. Before we can send the data into the Elasticsearch, we need to remove some metadata fields Logstash adds by default so we don't write unneeded information into Elasticsearch
# ====================================


input {
  {%+ for input in item.kafka_inputs %}
kafka {
    id                => "{{ input.id }}"
    bootstrap_servers => "{{ input.kafka_bootstrap_servers | default("default") }}"
    group_id          => "{{ input.pipeline_group_id       | default("default") }}"
    client_id         => "{{ input.pipeline_client_id      | default("default") }}"
    topics            => {{  input.kafka_topics            | default('["wbc_default"]') }}

    consumer_threads           => {{ input.consumer_threads | default(2) }}
    sasl_kerberos_service_name => "kafka"
    security_protocol          => "SASL_PLAINTEXT"
    jaas_path                  => "{{ logstash_jaas_path | default("/usr/share/config/jaas.conf") }}"
    kerberos_config            => "{{ logstash_kerberos_config_path | default("/usr/share/config/default.conf") }}"
    auto_offset_reset          => "latest"

    client_dns_lookup => "use_all_dns_ips"
  }
  {% endfor %}
}

filter {
  json {
    source       => "message"
    remove_field => "message"
  }
  mutate {
     remove_field => [ "@version" ]
  }

  # Sometimes Logstash reads in old messages from Kafka topics and that breaks indexing into Elasticsearch
  # because of ILM policy that makes indices of 1 days old read-only
  #   if ( Time.now.to_i - Time.parse(event.get('@timestamp').to_s).to_i ) > 86400
  ruby {
    init => "require 'time'"
    code => "
            if ( Time.now.day != Time.parse(event.get('@timestamp').to_s).day )
              event.cancel
            end
          "
  }
}

output {
  elasticsearch {
    hosts    => {{ logstash_output_elasticsearch_hosts | default("") }}
    index    => "{{ logstash_aaa_metrics_index | default("aaa-metrics-%{+YYYY.MM.dd}") }}"
    user     => "{{ logstash_output_elasticsearch_username | default("elastic") }}"
    password => "{{ logstash_output_elasticsearch_password | default("no_password") }}"

    ssl_enabled                 => true
    ssl_certificate_authorities => "{{ logstash_output_elasticsearch_ssl_certificate_authority | default("/usr/share/logstash/ca.crt") }}"
  }
}

