# ====================================
# Logstash pipeline that collects Metricbeat metrics from Kafka and sends them down to Elasticsearch
# There are 2 important things happen here:
#   1. Before we can send the data into the Elasticsearch, we need to remove some metadata fields Logstash adds by default - if we don't do it, it may confuse Elasticsearch when it tries to write data into Metricbeat indices
#   2. Depending on `event.module` we need to send metrics into correct indices
#     1. `logstash`    --> into `{{ logstash_metricbeat_logstash_index | default(".monitoring-logstash-8-mb") }}` datastream
#     2. anything else --> into `{{ logstash_metricbeat_system_index | default("metricbeat-8.2.2") }}` datastream
# ====================================


input {
  kafka {
    bootstrap_servers => "{{ item.kafka_bootstrap_servers | default("default") }}"
    group_id          => "{{ item.pipeline_group_id | default("default") }}"
    client_id         => "{{ item.pipeline_client_id | default("default") }}"
    topics            => {{  item.kafka_topics | default('["server_metrics_btw_T0188_03029_reigate"]') }}

    consumer_threads           => {{ logstash_pipeline_consumer_threads | default(2) }}
    sasl_kerberos_service_name => "kafka"
    security_protocol          => "SASL_PLAINTEXT"
    jaas_path                  => "{{ logstash_jaas_path | default("/usr/share/config/jaas.conf") }}"
    kerberos_config            => "{{ logstash_kerberos_config_path | default("/usr/share/config/default.conf") }}"
    auto_offset_reset          => "latest"

    client_dns_lookup => "use_all_dns_ips"
  }
}

filter {
  json {
    source       => "message"
    remove_field => "message"
  }
  mutate {
     remove_field => [ "@version" ]
  }
}

output {
 if [event][module] == "logstash" {
   elasticsearch {
     hosts    => {{ logstash_output_elasticsearch_hosts | default("") }}
     action   => "create"
     index    => "{{ logstash_metricbeat_logstash_index | default(".monitoring-logstash-8-mb") }}"
     user     => "{{ logstash_output_elasticsearch_username | default("elastic") }}"
     password => "{{ logstash_output_elasticsearch_password | default("no_password") }}"

     ssl_enabled                 => true
     ssl_certificate_authorities => "{{ logstash_output_elasticsearch_ssl_certificate_authority | default("/usr/share/logstash/ca.crt") }}"
   }
 } else {
   elasticsearch {
     hosts    => {{ logstash_output_elasticsearch_hosts | default("") }}
     action   => "create"
     index    => "{{ logstash_metricbeat_system_index | default("metricbeat-8.2.2") }}"
     user     => "{{ logstash_output_elasticsearch_username | default("elastic") }}"
     password => "{{ logstash_output_elasticsearch_password | default("no_password") }}"

     ssl_enabled                 => true
     ssl_certificate_authorities => "{{ logstash_output_elasticsearch_ssl_certificate_authority | default("/usr/share/logstash/ca.crt") }}"
   }
 }
}
