{
  "trigger": {
    "schedule": {
      "interval": "30m"
    }
  },
  "input": {
    "search": {
      "request": {
        "body": {
          "query": {
            "bool": {
              "filter": {
                "bool": {
                  "must": [
                    {
                      "bool": {
                        "should": [
                          {
                            "match": {
                              "acct_status_type": "1"
                            }
                          },
                          {
                            "match": {
                              "acct_status_type": "3"
                            }
                          }
                        ],
                        "minimum_should_match": 1
                      }
                    },
                    {
                      "range": {
                        "accounting_event_time": {
                          "lte": "now-2d/d"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "_source": "calling_station_id"
        },
        "indices": [
          "session-data*"
        ]
      }
    }
  },
  "condition": {
    "compare": {
      "ctx.payload.hits.total": {
        "gte": 1000
      }
    }
  },
  "actions": {
    "my-logging-action": {
      "logging": {
        "text": "There are {% raw %}{{ctx.payload.hits.total}}{% endraw %} dead sessions discovered. Please check the job that sorts those out @ node 10.54.22.204"
      }
    },
    "webhook-action": {
      "webhook": {
        "scheme":  "https",
        "host":    "{{ watcher_webhook_host | default("btgroupcloud.webhook.office.com") }}",
        "port":    {{ watcher_webhook_port  | default(443) }},
        "method":  "post",
        "path":    "{{ watcher_webhook_path }}",
        "params":  {},
        "headers": {},
        "body": "{\n          \"text\": \"There are {% raw %}{{ctx.payload.hits.total}}{% endraw %} dead sessions discovered. Please check the job that sorts those out @ node 10.54.22.204\"\n        }",
        "proxy": {
          "host": "{{ watcher_webhook_proxy_host | default("cloudproxy-r.nat.bt.com") }}",
          "port": {{ watcher_webhook_proxy_port  | default(8080) }}
        }
      }
    }
  }
}
