[Unit]
Description=Metricbeat is a lightweight shipper for metrics.
Documentation=https://www.elastic.co/beats/metricbeat
Wants=network-online.target
After=network-online.target

[Service]
User={{ metricbeat_user }}
Group={{ metricbeat_user }}
UMask=0027
Environment="GODEBUG='madvdontneed=1'"
Environment="METRICBEAT_LOG_OPTS="
Environment="METRICBEAT_CONFIG_OPTS=-c {{ metricbeat_dir }}/metricbeat.yml"
Environment="METRICBEAT_PATH_OPTS=--path.home {{ metricbeat_dir }} --path.config {{ metricbeat_dir }} --path.logs {{ metricbeat_logs_dir }}"
ExecStart={{ metricbeat_dir }}/metricbeat --environment systemd $METRICBEAT_LOG_OPTS $METRICBEAT_CONFIG_OPTS $METRICBEAT_PATH_OPTS

StandardOutput=file:{{ metricbeat_logs_dir }}/metricbeat.log
StandardError=file:{{ metricbeat_logs_dir }}/metricbeat-error.log

Restart=always

[Install]
WantedBy=multi-user.target

