[Unit]
Description=Filebeat is a lightweight shipper for logs.
Documentation=https://www.elastic.co/beats/filebeat

Wants=network-online.target
After=network-online.target

[Service]
User={{ filebeat_user }}
Group={{ filebeat_user }}
UMask=0027
Environment="GODEBUG='madvdontneed=1'"
Environment="FILEBEAT_LOG_OPTS="
Environment="FILEBEAT_CONFIG_OPTS=-c {{ filebeat_dir }}/filebeat.yml"
Environment="FILEBEAT_PATH_OPTS=--path.home {{ filebeat_dir }} --path.config {{ filebeat_dir }} --path.logs {{ filebeat_logs_dir }}"
Environment="GRPC_PROXY_EXP={{ filebeat_proxy_host }}:{{ filebeat_proxy_port }}"
Environment="HTTPS_PROXY={{ filebeat_proxy_host }}:{{ filebeat_proxy_port }}"
Environment="NO_PROXY=*.ref.elk.radius.nat.bt.com"
ExecStart={{ filebeat_dir }}/filebeat --environment systemd $FILEBEAT_LOG_OPTS $FILEBEAT_CONFIG_OPTS $FILEBEAT_PATH_OPTS

StandardOutput=file:{{ filebeat_logs_dir }}/filebeat.log
StandardError=file:{{ filebeat_logs_dir }}/filebeat-error.log

Restart=always

[Install]
WantedBy=multi-user.target

