#============================== Misc =======================================
script.painless.regex.enabled: true


#============================== Cluster Settings ===========================
cluster.name:                 {{ elastic_cluster_name                 | default( "docker-cluster" ) }}
cluster.initial_master_nodes: {{ elastic_cluster_initial_master_nodes | default( "node1_name, node2_name" ) }}

cluster.routing.rebalance.enable:                               all
cluster.routing.allocation.enable:                              all
cluster.routing.allocation.allow_rebalance:                     indices_all_active
cluster.routing.allocation.cluster_concurrent_rebalance:        5
cluster.routing.allocation.node_concurrent_incoming_recoveries: 5
cluster.routing.allocation.node_concurrent_outgoing_recoveries: 5
cluster.routing.allocation.node_concurrent_recoveries:          5
cluster.routing.allocation.node_initial_primaries_recoveries:   5
cluster.routing.allocation.same_shard.host:                     false

cluster.routing.allocation.disk.watermark.low:  90%
cluster.routing.allocation.disk.watermark.high: 95%

#============================== Node Settings ==============================
node.name:  {{ elastic_node_name  | default( "elasticsearch" ) }}
node.roles: {{ elastic_node_roles | default( ["data", "ingest", "master"] ) }}

xpack.ml.enabled:                {{ elastic_xpack_ml_enabled | default( "true" ) }}
xpack.ml.max_model_memory_limit: {{ elastic_xpack_ml_limit   | default( "2g" ) }}


#============================== Security Settings ==========================
xpack.security.enabled: true

##
# Auditing settings
##
xpack.security.audit.enabled:                          true
xpack.security.audit.logfile.emit_node_name:           true
xpack.security.audit.logfile.emit_node_host_address:   false
xpack.security.audit.logfile.emit_node_host_name:      false
xpack.security.audit.logfile.emit_node_id:             true
xpack.security.audit.logfile.events.emit_request_body: true
xpack.security.audit.logfile.events.include:
- access_denied
- access_granted
- anonymous_access_denied
- authentication_failed
- authentication_success
- connection_denied
- connection_granted
- realm_authentication_failed
- run_as_denied
- run_as_granted
- tampered_request
xpack.security.audit.logfile.events.ignore_filters.redundant.users:
- apm_server_setup
- apm_server_writer
- apm_system
- elastic
- filebeat_setup
- filebeat_writer
- kibana_system
- logstash_writer
- metricbeat_setup
- metricbeat_writer

xpack.security.authc.token.enabled:           false
xpack.security.authc.api_key.enabled:         {{ elastic_xpack_security_authc_api_key_enabled | default( "true" ) }}

##
# LDAP authentication settings for Normal Accounts (EIN)
##
xpack.security.authc.realms.active_directory.ldap1.authentication.enabled:      true
xpack.security.authc.realms.active_directory.ldap1.order:                       0
xpack.security.authc.realms.active_directory.ldap1.url:                         {{ elastic_security_ldap_url                  | default( "ldaps://ldap.example.com:636" ) }}
xpack.security.authc.realms.active_directory.ldap1.domain_name:                 {{ elastic_security_ldap_domain_name          | default( "ldap.example.com" ) }}
xpack.security.authc.realms.active_directory.ldap1.bind_dn:                     {{ elastic_security_ldap_bind_dn              | default( "cn=ldapuser, DC=iuser, DC=iroot, DC=adidom, DC=com" ) }}
xpack.security.authc.realms.active_directory.ldap1.bind_password:               {{ elastic_security_ldap_bind_password        | default( "default" ) }}
xpack.security.authc.realms.active_directory.ldap1.user_search.base_dn:         {{ elastic_security_ldap_user_base_dn         | default( "ou=users, o=marketing, dc=example, dc=com" ) }}
xpack.security.authc.realms.active_directory.ldap1.user_search.filter:          {{ elastic_security_ldap_user_filter          | default( "(cn={0})" ) }}
xpack.security.authc.realms.active_directory.ldap1.group_search.base_dn:        {{ elastic_security_ldap_group_search_base_dn | default( "dc=example, dc=com" ) }}
xpack.security.authc.realms.active_directory.ldap1.unmapped_groups_as_roles:    false
xpack.security.authc.realms.active_directory.ldap1.ssl.verification_mode:       certificate
xpack.security.authc.realms.active_directory.ldap1.ssl.certificate_authorities: {{ elastic_security_ldap_ssl_certificate_authorities | default( "ldap_ca.crt" ) }}
xpack.security.authc.realms.active_directory.ldap1.ssl.supported_protocols:
- TLSv1.2
- TLSv1.3

##
# LDAP authentication settings for CAD (Functional) Accounts
##
xpack.security.authc.realms.active_directory.ldap2.authentication.enabled:      true
xpack.security.authc.realms.active_directory.ldap2.order:                       1
xpack.security.authc.realms.active_directory.ldap2.url:                         {{ elastic_security_ldap_url                      | default( "ldaps://ldap.example.com:636" ) }}
xpack.security.authc.realms.active_directory.ldap2.domain_name:                 {{ elastic_security_ldap_domain_name              | default( "ldap.example.com" ) }}
xpack.security.authc.realms.active_directory.ldap2.bind_dn:                     {{ elastic_security_ldap_bind_dn                  | default( "cn=ldapuser, DC=iuser, DC=iroot, DC=adidom, DC=com" ) }}
xpack.security.authc.realms.active_directory.ldap2.bind_password:               {{ elastic_security_ldap_bind_password            | default( "default" ) }}
xpack.security.authc.realms.active_directory.ldap2.user_search.base_dn:         {{ elastic_security_ldap_cad_user_base_dn         | default( "ou=users, o=marketing, dc=example, dc=com" ) }}
xpack.security.authc.realms.active_directory.ldap2.user_search.filter:          {{ elastic_security_ldap_cad_user_filter          | default( "(cn={0})" ) }}
xpack.security.authc.realms.active_directory.ldap2.group_search.base_dn:        {{ elastic_security_ldap_cad_group_search_base_dn | default( "dc=example, dc=com" ) }}
xpack.security.authc.realms.active_directory.ldap2.unmapped_groups_as_roles:    false
xpack.security.authc.realms.active_directory.ldap2.ssl.verification_mode:       certificate
xpack.security.authc.realms.active_directory.ldap2.ssl.certificate_authorities: {{ elastic_security_ldap_ssl_certificate_authorities | default( "ldap_ca.crt" ) }}
xpack.security.authc.realms.active_directory.ldap2.ssl.supported_protocols:
- TLSv1.2
- TLSv1.3

##
# Native authentication settings
##
xpack.security.authc.realms.native.native1.authentication.enabled: true
xpack.security.authc.realms.native.native1.order:                  2

##
# File authentication settings
##
xpack.security.authc.realms.file.file1.authentication.enabled: false
xpack.security.authc.realms.file.file1.order:                  3

##
# SSL settings
##
xpack.security.http.ssl.enabled:                 true
xpack.security.http.ssl.client_authentication:   optional
xpack.security.http.ssl.verification_mode:       {{ elastic_ssl_http_verification_mode | default( "full" ) }}
xpack.security.http.ssl.key:                     {{ elastic_ssl_ca_key_id              | default( "/usr/share/elasticsearch/config/ca-key.key" ) }}
xpack.security.http.ssl.certificate:             {{ elastic_ssl_ca_cert_id             | default( "/usr/share/elasticsearch/config/ca-cert.crt" ) }}
xpack.security.http.ssl.certificate_authorities: {{ elastic_ssl_ca_id                  | default( "/usr/share/elasticsearch/config/ca.crt" ) }}
xpack.security.http.ssl.supported_protocols:
- TLSv1.2
- TLSv1.3

xpack.security.transport.ssl.enabled:                 true
xpack.security.transport.ssl.client_authentication:   required
xpack.security.transport.ssl.verification_mode:       {{ elastic_ssl_transport_verification_mode | default( "certificate" ) }}
xpack.security.transport.ssl.key:                     {{ elastic_ssl_ca_key_id                   | default( "/usr/share/elasticsearch/config/ca-key.key" ) }}
xpack.security.transport.ssl.certificate:             {{ elastic_ssl_ca_cert_id                  | default( "/usr/share/elasticsearch/config/ca-cert.crt" ) }}
xpack.security.transport.ssl.certificate_authorities: {{ elastic_ssl_ca_id                       | default( "/usr/share/elasticsearch/config/ca.crt" ) }}
xpack.security.transport.ssl.supported_protocols:
- TLSv1.2
- TLSv1.3

{% if elastic_reindex_remote_whitelist|length >= 1 %}
##
# Remote Reindex
##
reindex.remote.whitelist:            {{ elastic_reindex_remote_whitelist   | default( "localhost:9200" )}}
reindex.ssl.certificate:             {{ elastic_ssl_ca_cert_id             | default( "/usr/share/elasticsearch/config/ca-cert.crt" ) }}
reindex.ssl.certificate_authorities: {{ elastic_ssl_ca_id                  | default( "/usr/share/elasticsearch/config/ca.crt" ) }}
reindex.ssl.verification_mode:       {{ elastic_ssl_http_verification_mode | default( "full" ) }}
reindex.ssl.key:                     {{ elastic_ssl_ca_key_id              | default( "/usr/share/elasticsearch/config/ca-key.key" ) }}
{% endif %}

{% if elastic_security_transport_filter_enabled %}
##
# IP filtering
##
xpack.security.transport.filter.enabled: {{ elastic_security_transport_filter_enabled | default( "false" ) }}
xpack.security.transport.filter.allow:   {{ elastic_security_transport_filter_allow   | default( "[]" ) }}
xpack.security.transport.filter.deny:    {{ elastic_security_transport_filter_deny    | default( "_all" ) }}
{% endif %}
{% if elastic_security_http_filter_enabled %}

xpack.security.http.filter.enabled: {{ elastic_security_http_filter_enabled | default( "false" ) }}
xpack.security.http.filter.allow:   {{ elastic_security_http_filter_allow   | default( "[]" ) }}
xpack.security.http.filter.deny:    {{ elastic_security_http_filter_deny    | default( "_all" ) }}
{% else %}

xpack.security.http.filter.enabled: {{ elastic_security_http_filter_enabled | default( "false" ) }}
xpack.security.http.filter.allow:   _all
{% endif %}


#============================== Email alerts Settings ======================
xpack.notification.email.account.main_account.profile:              ses
xpack.notification.email.account.main_account.smtp.auth:            false
xpack.notification.email.account.main_account.smtp.starttls.enable: false
xpack.notification.email.account.main_account.smtp.host:            smtp.intra.bt.com
xpack.notification.email.account.main_account.smtp.port:            25


#============================== Network Settings ===========================
network.host:           {{ elastic_network_host   | default( "0.0.0.0" ) }}
http.port:              {{ elastic_http_port      | default( "61116" ) }}
http.publish_host:      {{ elastic_publish_host   | default( "0.0.0.0" ) }}
http.bind_host:         {{ elastic_network_host   | default( "0.0.0.0" ) }}
transport.port:         {{ elastic_transport_port | default( "61117" ) }}
transport.publish_host: {{ elastic_publish_host   | default( "0.0.0.0" ) }}
transport.bind_host:    {{ elastic_network_host   | default( "0.0.0.0" ) }}


#============================== Index breaker Settings =====================
indices.breaker.total.use_real_memory: true


#============================== Discovery Settings =========================
# **specify only master eligible nodes**
discovery.seed_hosts:                             {{ elastic_discovery_seed_hosts                             | default( "host1:transport_port, host2:transport_port" ) }}
discovery.find_peers_interval:                    {{ elastic_discovery_find_peers_interval                    | default( "3s" ) }}
discovery.seed_resolver.max_concurrent_resolvers: {{ elastic_discovery_seed_resolver_max_concurrent_resolvers | default( "5" ) }}
discovery.seed_resolver.timeout:                  {{ elastic_discovery_seed_resolver_timeout                  | default( "5s" ) }}

gateway.expected_data_nodes: {{ elastic_gateway_expected_data_nodes | default( "3" ) }} 
gateway.recover_after_time:  {{ elastic_gateway_recover_after_time  | default( "5m" ) }}

#============================== GCS Snapshot Repository Settings =========================
gcs.client.dev_snapshot.project_id: bt-radius-wbc-dev-data
gcs.client.dev_snapshot.proxy.host: cloudproxy-r.nat.bt.com
gcs.client.dev_snapshot.proxy.port: 8080
gcs.client.dev_snapshot.proxy.type: http
