[Unit]
Description=Set Read-Ahead values so Elasticsearch performs best on HDD
After=local-fs.target

[Service]
Type=oneshot
{% if deployment_environment == 'reference' %}
ExecStart=/sbin/blockdev --setra 128 /dev/sdd
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV1
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV2
{% else %}
ExecStart=/sbin/blockdev --setra 128 /dev/sdd
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV1
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV2

ExecStart=/sbin/blockdev --setra 128 /dev/sde
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV2

ExecStart=/sbin/blockdev --setra 128 /dev/sdf
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV2

ExecStart=/sbin/blockdev --setra 128 /dev/sdg
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV2

ExecStart=/sbin/blockdev --setra 128 /dev/sdh
ExecStart=/sbin/blockdev --setra 128 /dev/mapper/AutoVG2-AutoLV2

ExecStart=/sbin/blockdev --setra 128 /dev/sdc
{% endif %}

[Install]
WantedBy=multi-user.target
