[libdefaults]
 renew_lifetime = 604800
 ticket_lifetime = 36000
 udp_preference_limit = 1
 permitted_enctypes = rc4-hmac
 # default_ccache_name = API:AE5455B7-A1B5-4065-B37F-812437D09BA2
 default_tgs_enctypes = rc4-hmac
 default_tkt_enctypes = rc4-hmac
 default_realm = IUSER.IROOT.ADIDOM.COM
 default_etypes = arcfour-hmac-md5
 default_etypes_des = des-cbc-crc

 forwardable = true
 default_keytab_name = /etc/opt/quest/vas/host.keytab

 dns_lookup_realm = true
 dns_lookup_kdc   = true

 # This line is required until Kafka enables more secure encryption types
 allow_weak_crypto = true

[libvas]
 site-name-override = iNET-LDAP
 use-dns-srv = true
 use-tcp-only = true

 auth-helper-timeout = 60

[domain_realm]
 tplhc01g001. = IUSER.IROOT.ADIDOM.COM

 tplhc01g001.iuser.iroot.adidom.com = IUSER.IROOT.ADIDOM.COM
 iuser.iroot.adidom.com = IUSER.IROOT.ADIDOM.COM
 .iuser.iroot.adidom.com = IUSER.IROOT.ADIDOM.COM

[vasd]
 auto-ticket-renew-interval = 32400
 lazy-cache-update-interval = 720
 configuration-refresh-interval = 0
 workstation-mode = false

 debug-level = 1
 username-attr-name = mailNickName

[nss_vas]
 lowercase-names = false

[pam_vas]
 pw-expiration-warning-window = 5

##
# This one is needed as below KDC & PASSWD DNSs are gone (so it seems)
#
# [realms]
#  IUSER.IROOT.ADIDOM.COM = {
#   kdc = iuuktvsmkp04.iuser.iroot.adidom.com:88
#   kdc = iuuktvsmkp03.iuser.iroot.adidom.com:88
#   kdc = iuukryndep04.iuser.iroot.adidom.com:88
#   kdc = iuukryndep03.iuser.iroot.adidom.com:88
#   kpasswd_server = iuuktvsmkp04.iuser.iroot.adidom.com:464 iuuktvsmkp03.iuser.iroot.adidom.com:464 iuukryndep04.iuser.iroot.adidom.com:464 iuukryndep03.iuser.iroot.adidom.com:464
#  }
##
