#============================== Main =======================================
apm-server:
    host:                {{ apm_server_host | default( "0.0.0.0:8200" ) }}
    concurrent_requests: 5
    max_connections:     100

    ssl.enabled:     {{ apm_server_ssl_enabled | default( "true" ) }}
    ssl.certificate: {{ apm_server_ssl_ca_cert_id | default( "apm-server.crt" ) }}
    ssl.key:         {{ apm_server_ssl_ca_key_id | default( "apm-server.key" ) }}

    kibana:
        enabled:  {{ apm_kibana_enabled | default( "true" ) }}
        host:     {{ apm_kibana_host | default( "http://127.0.0.1:5601" ) }}
        username: {{ apm_kibana_username | default( "kibana-user" ) }}
        password: {{ apm_kibana_password | default( "kibana-user-password" ) }}

        ssl.enabled:                 true
        ssl.verification_mode:       full
        ssl.certificate_authorities: {{ apm_kibana_ssl_ca_id | default( "apm-server-ca.crt" ) }}
        ssl.certificate:             {{ apm_kibana_ssl_ca_cert_id | default( "apm-server.crt" ) }}
        ssl.key:                     {{ apm_kibana_ssl_ca_key_id | default( "apm-server.key" ) }}


#============================== General ========================================
max_procs:       2
max_connections: 100


#============================== Logging ======================================
logging.level:    info
logging.to_files: false


#============================== HTTP Endpoint ================================
http.enabled: {{ apm_http_enabled }}
{% if apm_http_enabled == true %}
http.host:    0.0.0.0
http.port:    5066
{% endif %}


#============================== Elasticsearch output =========================
output.elasticsearch:
    enabled:  true
    hosts:    {{ apm_output_elastic_host | default( "http://localhost:9200" ) }}
    username: {{ apm_output_elastic_username | default( "elastic-user" ) }}
    password: {{ apm_output_elastic_password | default( "elastic-user-password" ) }}

    compression_level: 0
    max_retries:       3
    worker:            2
    ilm.enabled:       {{ apm_output_elastic_ilm_enabled | default( "true" ) }}

    ssl.enabled:                 true
    ssl.verification_mode:       full
    ssl.certificate_authorities: {{ apm_output_server_ssl_ca_id | default( "apm-server-ca.crt" ) }}
    ssl.certificate:             {{ apm_output_server_ssl_ca_cert_id | default( "apm-server.crt" ) }}
    ssl.key:                     {{ apm_output_server_ssl_ca_key_id | default( "apm-server.key" ) }}
